<footer class="footer">
	<div class="font-awe">
		<a href="https://www.linkedin.com/in/dominika-pienczyn-5519ba13a/"><i class="fa fa-linkedin"></i></a>
		<a href="https://github.com/dpienczyn"><i class="fa fa-github"></i></a>
	</div>
	<div class="menuTitle">
		<span><%= link_to "Blog", posts_path%></span>
		<span><%= link_to "home", root_path%></span>
		<span><%= link_to "about", home_about_path%></span>
		<span><%= link_to "contact", contact_index_path%></span>
		<span><%= link_to "projects", projects_index_path%></span>
	</div>
</footer>