<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 nag">
      <h3><a href="http://localhost:3000/">dominika.blog</a></h3><hr>
    </div>
    <div class="col-1 p-0 text-right">
      <div class="social pr-2">
        <a href="https://www.linkedin.com/in/dominika-pienczyn-5519ba13a/"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/dpienczyn"><i class="fa fa-github"></i></a>
      </div>
    </div>
    <div class="col-1 pl-2 search">
      <i class="fa fa-search"></i>
    </div>
    <div class="col-2 iconMenu" id="nav-icon4">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<div id="sideTrayWrapper" class="sidetray-wrapper">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6">
        <nav id="mainNavigation" class="main-navigation" role="navigation" data-content-field="navigation">
          <div class="nav-link--collection nav-link--active nav-link--homepage">
            <span><%= link_to "Blog", posts_path %></span>
          </div>

          <div class="nav-link--external">
            <span><%= link_to "home", root_path %></span>
          </div>

          <div class="nav-link--external">
            <span><%= link_to "about", home_about_path %></span>
          </div>

          <div class="nav-link--external">
            <span><%= link_to "contact", contact_index_path %></span>
          </div>

          <div class="nav-link--external">
            <span><%= link_to "projects", projects_index_path %></span>
          </div>

          <% if user_signed_in? %>
          <div class="nav-link--external">
            <span><%= link_to "wyloguj się", destroy_user_session_path, method: 'delete' %></span>
          </div>
          <% else %>
          <div class="nav-link--external">
            <span><%= link_to "logowanie", new_user_session_path %></span>
          </div>
          
          <div class="nav-link--external">
            <span><%= link_to "rejestracja", new_user_registration_path %></span>
          </div>
          <% end %>
        </nav>
      </div>
      <div class="col-md-6">
        <div class="about">
          <h2 class="text-align-center">Hey!</h2>
          <p class="text-align-center"><strong>Kto?</strong> Dominika</p>
          <p class="text-align-center"><strong>Dlaczego?</strong>&nbsp;Chciałam mieć miejsce, gdzie mogę wrzucać swoje rzeczy, zbiorczy zasób dotyczący publicznej mnie.</p>
          <p class="text-align-center"><strong>Co?</strong>&nbsp;Wszelkie przejawy mojej twórczości: vlog, podcast, rysunki, przemyślenia.</p>
          <nav class="sqs-svg-icon--list">
            <a href="https://www.linkedin.com/in/dominika-pienczyn-5519ba13a/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/dpienczyn"><i class="fa fa-github"></i></a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>