<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <% if @post.image.attached? %>
    <!-- @post.image.present? will always return true, use attached? to check presence -->
    <div class="col-md-12">
      <p>
        <br>
        <div class="image">
          <%= image_tag @post.image.variant(resize: "1000x1000"), class: 'img-fluid' %>
        </div>
      </p>
      <% end %>
    </div>
    
    <div class="col-md-12">
      <div class="postAuthor">
        <p><%= @post.author %></p><hr>
      </div>
    </div>

    <div class="col-md-12">
      <div class="postDate">
        <%= @post.created_at.strftime("%b %d") %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="postTitle">
        <h3><%= @post.title %></h3><hr>
      </div>
    </div>

    <div class="col-md-8">
      <div class="postDescription">
        <p><%= @post.description %></p>
      </div>
    </div>

    <div class="col-md-2">
      <div class="imageCircle">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="iconComment">
        <i class="fa fa-plus" onclick="openComment()"><h1>Comment</h1></i>
      </div>
      <div class="commentForm" id="commentsForm">
        <div class="close">
        <span class="closebtn" onclick="closeComment()" title="Close Overlay"><i class="fa fa-times"></i></span>
      </div>
        <%= render @post.comments %>
        <%= render "comments/form" %>
      </div>
      <br />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
     <% if @post.user == current_user %> 
     <%= link_to 'Edit', edit_post_path(@post) %> |
     <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     <% end %>
     <% if user_signed_in? %>
     <div class="newPost">
       <%= link_to '', new_post_path, class: "fa fa-plus-square" %>
     </div>
     <% end %>
     <div class="iconBack">
      <%= link_to '', posts_path, class: "fa fa-arrow-left"%>
    </div>
  </div>
</div>
</div>